<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBU8aFb-P6lNpGxgPBGdZdNjq5KsAhsBc</string>
	<key>GCM_SENDER_ID</key>
	<string>4217087063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.turnosApp</string>
	<key>PROJECT_ID</key>
	<string>turnos-d5ab5</string>
	<key>STORAGE_BUCKET</key>
	<string>turnos-d5ab5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4217087063:ios:a3d4dcc40bcc4d7dc66f12</string>
</dict>
</plist>